<app-header></app-header>
<div class="overlapsec"></div>
<breadcrumb #parent>
    <div class="sub-header p-relative">
      <div class="overlay overlay-bg-black"></div>
      <div class="pattern"></div>
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
                <div class="sub-header-content p-relative">
                  <h1 class="text-custom-white lh-default fw-600"> Administrateur</h1>
                  <ul class="custom">
                    <li><a class="text-custom-white">affectation des salaire</a></li>
                    <li >
  
                        <a>liste des salariés</a>
                    </li>
  
                  </ul>
                </div>
  </div></div></div></div></div></breadcrumb>

  <section class="main-services section-padding p-relative">
    <div class="side-lines"> <span class="box"></span>
        <span class="text">tableau de bord</span>
        <span class="line"></span>
    </div>
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-black fw-700">Ressource Humaine</h3>
                <div class="section-description">
                    <p class="text-light-white">affecter les salaires de chaque employé </p>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6" *ngFor="let item of list">
                <div class="main-services-box p-relative mb-xl-30">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-customer-service"></i>
                        </div>
                        <h5 class="fw-700"></h5>
                        <p class="text-light-white no-margin">{{item.salaire}}</p>
                        <p class="text-light-white no-margin">{{item.email}}</p>
                        <p class="text-light-white no-margin">{{item.nom}} {{item.prenom}}</p>
                        <p class="text-light-white no-margin">{{item.role}}</p>
                        <div class="col-lg-6" >
                            <div class="form-group"   >
                                <div class="input-group">
                                <button (click)="getC(item.idUser)">afficher compte</button>
                                <select class="form-control fs-14 fw-600 "  [(ngModel)]="rib" [ngModelOptions]="{standalone: true}"  >
                                    <option *ngIf="acc">compte correspondant</option>
                                <option *ngFor="let c of acc" >{{c.rib}}</option>
                            </select>
                        </div>
                            </div>
                        </div>
                        <button (click)="affecter(item.idUser)" class="text-custom-black">affecter salaire</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <app-footer></app-footer>
