<!-- Start Slider -->
<div class="slider parallax overlay-bg" id="banner-animation">
    <div class="side-lines"> <span class="box"></span>
        <span class="text">Loanly</span>
        <span class="line"></span>
    </div>
    <div class="transform-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="bannerConfig" class="banner-slider">
                        <div ngxSlickItem class="slide-item" *ngFor="let item of banner">
                            <div class="banner-text">
                                <div class="banner-text">
                                    <h1 class="text-custom-white fw-700">Crédit Études</h1>
                                    <p class="text-custom-white">Le Crédit Études est destiné à financer les frais de scolarité et 
                                        d'inscription de vous ou de votre enfant dans un établissement d'enseignement supérieur privé en Tunisie 
                                        agréé par le Ministère de l'Enseignement Supérieur.</p>
                                    <a routerLink="/contact" class="btn-first btn-submit-fill"> Passer un crédit </a>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide-item" >
                            <div class="banner-text">
                                <div class="banner-text">
                                    <h1 class="text-custom-white fw-700">Crédit Immobilier</h1>
                                    <p class="text-custom-white">Crédit Immobilier vous permet de  financer votre  projet immobilier à usage 
                                        d'habitation tel que des travaux de construction, d'extension d'un logement à usage 
                                        d'habitation ou  l'acquisition d'un logement neuf ou ancien (résidence principale ou 
                                        secondaire)</p>
                                    <a routerLink="/contact" class="btn-first btn-submit-fill"> Passer un crédit </a>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide-item" >
                            <div class="banner-text">
                                <div class="banner-text">
                                    <h1 class="text-custom-white fw-700">Crédit Libre</h1>
                                    <p class="text-custom-white">Crédit Libre vous permet de financer vos besoins sur plusieurs marchés et secteurs 
                                        (la distribution, le mobilier, le high tech, les études supérieurs privés, …) </p>
                                    <a routerLink="/CreditLibrePage" class="btn-first btn-submit-fill"> Passer un crédit </a>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- End Slider -->
<section class="section-padding our-articles">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-black fw-700">A LA UNE</h3>
                <div class="section-description">
                    <p class="text-light-white">Suivez toutes les actualités du marché et des entreprises ici.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no-padding">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="blogConfig" class="blog-slider">
                    <article ngxSlickItem class="post col-12" *ngFor="let actu of actualites">
                        <div class="post-wrapper">
                            
                            <div class="blog-meta padding-20">
                               
                                <div class="post-content">
                                    <h2  class="text-custom-black fw-600">{{actu[2]}}</h2>
                                    
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14 text-custom-black">
                                                {{actu[0]}}</span>
                                        
                                    </div> <a href="https://www.ilboursa.com/{{actu[1]}}" class="text-light-blue fs-14" target="_blank">Lire la suite...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>

<!-- End why choose us -->

<!-- Start Team Doctors -->
<section class="section-padding bg-gradient doctors-team-style-2">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-white fw-700">Our Teams</h3>
                <div class="section-description">
                    <p class="text-custom-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no-padding">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="teamConfig" class="doctors-slider">
                    <div ngxSlickItem class="slide-item col-12" *ngFor="let item of teamblock">
                        <div class="team-block p-relative">
                            <div class="inner-box">
                                <div class="image animate-img">
                                    <img [src]="item.photo" alt="{{item.name}}" class="full-width">
                                    <div class="overlay-box">
                                        <div class="overlay-inner p-relative full-height">
                                            <ul class="team-social-box custom">
                                                <li class="{{item.iconclass}}" *ngFor="let item of item.socialmedia">
                                                    <a routerLink="{{item.url}}" class="fab fa-{{item.icon}} fs-16"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content p-relative text-center">
                                    <h4><a routerLink="/team" class="text-custom-black fw-600 fs-20">{{item.name}}</a>
                                    </h4>
                                    <p class="designation text-light-white">{{item.designation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- End Team Doctors -->
<!-- Start Blog -->
<section class="section-padding our_articles">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-black fw-700">Our Blog</h3>
                <div class="section-description">
                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no-padding">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="blogConfig" class="blog-slider">
                    <article ngxSlickItem class="post col-12" *ngFor="let item of blogbox">
                        <div class="single-blog">
                            <div class="post-meta">
                                <div class="post-date"><a routerLink="/blog-single/{{item.id}}"
                                        class="text-custom-white"> {{item.postdate}}</a>
                                </div>
                            </div>
                            <div class="blog-photo">
                                <img [src]="item.photo" class="full-width" alt="{{item.title}}">
                            </div>
                            <div class="post-contnet">
                                <h2 class="post-title text-custom-black">{{item.title}}</h2>
                                <p class="text-light-white">{{item.shortdesc | slice:0:70}}...</p>
                                <div class="post-author"> <span class="text-custom-black fw-500 fs-14">Post by
                                        <a routerLink="/blog-single/{{item.id}}"
                                            class="text-light-blue">{{item.author.authorname}}</a></span>
                                </div>
                            </div>
                            <div class="blog-overlay">
                                <div class="right-text-effect post-content">
                                    <h2 class="post-title"><a routerLink="/blog-single/{{item.id}}"
                                            class="text-white">{{item.title}}</a></h2>
                                    <p>{{item.shortdesc | slice:0:100}}...</p>
                                </div>
                                <div class="blog-read-more-icon">
                                    <div class="post-author"> <span class="text-custom-white fw-600 fs-14">Post by <a
                                                routerLink="/blog-single/{{item.id}}"
                                                class="text-white">{{item.author.authorname}}</a></span>
                                    </div> <a routerLink="/blog-single/{{item.id}}" class="fw-500 fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
<!-- Start Apply Today/faqs -->
<app-bookappointment></app-bookappointment>
<!-- Start Why choose us / testimonials-->
<section class="section-padding findrate-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonials-box mb-md-80">
                    <div class="section-header">
                        <div class="section-heading">
                            <h3 class="text-custom-black fw-700">Our Testimonials</h3>
                        </div>
                        <div class="section-description">
                            <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>
                    </div>
                    <div class="testimonials-wrapper">
                        <div class="col-12">
                            <ngx-slick-carousel #slickModal="slick-carousel" [config]="testimonialnavConfig"
                                class="testimonial-nav row mb-xl-40">
                                <div ngxSlickItem class="slide-item col-12" *ngFor="let item of testimonials">
                                    <div class="testimonials-author">
                                        <a href="javascript:void(0)">
                                            <img [src]="item.photo" class="image-fit" alt="{{item.name}}">
                                        </a>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                            <ngx-slick-carousel #slickModal="slick-carousel" [config]="testimonialmainConfig"
                                class="testimonial-for row">
                                <div ngxSlickItem class="slide-item col-12" *ngFor="let item of testimonials">
                                    <div class="testimonials-inner">
                                        <div class="testimonial-content">
                                            <h4 class="text-custom-blue fw-700 fs-20">{{item.title}}</h4>
                                            <p class="text-light-white mb-xl-20">{{item.comment}}</p>
                                            <p class="text-custom-black fw-700"><strong>{{item.name}}<br><span
                                                        class="text-light-blue fw-500">{{item.designation}}</span></strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="clients-box">
                    <div class="section-header">
                        <div class="section-heading">
                            <h3 class="text-custom-black fw-700">Our Clients</h3>
                        </div>
                        <div class="section-description">
                            <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>
                    </div>
                    <div class="clients-wrapper">
                        <div class="client-box" *ngFor="let item of clients">
                            <div class="client-item">
                                <a href="#">
                                    <img [src]="item.photo" class="image-fit" alt="{{item.companyname}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why choose us / testimonials -->
<!-- Start Faqs -->
<section class="section-padding loan-faqs-sec bg-light-white findrate-top">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <div class="findratesec">
                    <h3 class="text-custom-black">Compare personal loan rates in 2 minutes</h3>
                    <div class="input-form-box">
                        <form>
                            <div class="input-group">
                                <input type="email" name="#" class="form-control form-control-custom"
                                    placeholder="Enter amount ($1,000 to $100,000)">
                                <div class="input-group-append">
                                    <button type="submit" class="btn-first btn-submit-fill">Find My Rate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 align-self-center">
                <div class="section-header">
                    <div class="section-heading">
                        <h3 class="text-custom-black fw-700">Our FAQs</h3>
                        <div class="section-description">
                            <p class="text-light-white no-margin">Still have questions?
                                <br>Our Client Success Team is always here to help
                            </p>
                        </div>
                    </div>
                </div>
                <div class="loan-faqs-leftside mb-md-80">
                    <div class="support-card mb-xl-20">
                        <div class="support-user">
                            <img src="assets/images/faq-user.png" class="image-fit" alt="img">
                        </div>
                        <div class="links text-center mb-xl-20"> <a href="#">Support@domain.com</a>
                            <a href="#">123-456-7890</a>
                            <a href="#">Chat with us</a>
                        </div>
                        <div class="schdule">
                            <ul class="custom">
                                <li>Mon - Thurs <span class="text-light-white">6am – 6pm PT</span>
                                </li>
                                <li>Fri <span class="text-light-white">6am – 6pm PT</span>
                                </li>
                                <li>Sat - Sun <span class="text-light-white">7am – 4pm PT</span>
                                </li>
                            </ul>
                        </div>
                    </div> <a href="#" class="btn-first btn-submit-fill"> Chat With Us</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <ngb-accordion [closeOthers]="true" activeIds="static-1" class="faqs-accordion">
                    <ngb-panel id="static-1">
                        <ng-template ngbPanelTitle>
                            What is an unsecured personal loan?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <p class="text-light-white">Once approved for an unsecured loan, you'll make monthly
                                payments to pay it back in full, plus interest. The loan terms and interest rate vary
                                based on the lender and your credit.</p>
                            <p class="text-light-white no-margin">Each lender has their own set requirements to qualify
                                for a personal loan. A hard inquiry can impact your credit score by two to nine points,
                                but typically by no more than five.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2">
                        <ng-template ngbPanelTitle>
                            What are the requirements to qualify?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <p class="text-light-white no-margin">Each lender has their own set requirements to qualify
                                for a personal loan.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3">
                        <ng-template ngbPanelTitle>
                            How much can I borrow with a personal loan?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <p class="text-light-white">Many lenders also have minimum credit score requirements for
                                credit approval.</p>
                            <p class="text-light-white no-margin">The upper limits for personal loans vary by lender but
                                typically fall in the $35,000 to $50,000 range.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-4">
                        <ng-template ngbPanelTitle>
                            Will checking my rates affect my credit score?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <p class="text-light-white">Using Loanly to check your rates doesn’t affect your credit
                                score. Here’s how it works: Loanly's prequalification process uses a soft credit inquiry
                                that you having to apply for a loan.</p>
                            <p class="text-light-white no-margin">You'll be asked to authorize a hard credit inquiry
                                when you apply for the loan. A hard inquiry can impact your credit score by two to nine
                                points, but typically by no more than five.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-5">
                        <ng-template ngbPanelTitle>
                            What rate should I expect and how can I get the best rate?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <p class="text-light-white">Some lenders even offer an autopay discount if you authorize
                                your monthly loan payments to be directly withdrawn from your bank account.</p>
                            <p class="text-light-white no-margin">Qualifying for the lowest rates offered by a lender is
                                dependent on your online application, credit approval and score, loan terms, and other
                                factors.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-6">
                        <ng-template ngbPanelTitle>
                            How quickly will I receive my funds?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <p class="text-light-white no-margin">Once you’ve completed the loan application process,
                                most lenders can fund your loan by the next business day (though it can take up to about
                                a week, depending on the lender and your application).</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-7">
                        <ng-template ngbPanelTitle>
                            Can I use personal loans for debt consolidation?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <p class="text-light-white">Yes. In fact, personal loans offer many debt consolidation
                                benefits.</p>
                            <p class="text-light-white no-margin">Many credit cards also carry variable rates, which can
                                cause the amount you pay in interest to fluctuate as rates change.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-8">
                        <ng-template ngbPanelTitle>
                            How else can I use a personal loan?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <p class="text-light-white no-margin">You’re typically not limited in how you can use your
                                personal loan funds. Personal loans can be used to pay down high-interest credit card
                                debt, meet unexpected needs like medical bills, take care of a major purchase like a new
                                refrigerator, or fund home improvement projects. However, some lenders only provide
                                loans for specific purposes (and some rates vary based on what you use it for), so you
                                will be asked for the purpose of your loan.</p>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</section>
<!-- End Faqs -->
<app-advertisement></app-advertisement>