<!-- Start Slider -->
<div class="slider parallax overlay-bg" id="banner-animation">
    <div class="side-lines"> <span class="box"></span>
        <span class="text">JML</span>
        <span class="line"></span>
    </div>
    <div class="transform-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="bannerConfig" class="banner-slider">
                        <div ngxSlickItem class="slide-item" *ngFor="let item of banner">
                            <div class="banner-text">
                                <div class="banner-text">
                                    <h1 class="text-custom-white fw-700">Crédit Études</h1>
                                    <p class="text-custom-white">Le Crédit Études est destiné à financer les frais de scolarité et 
                                        d'inscription de vous ou de votre enfant dans un établissement d'enseignement supérieur privé en Tunisie 
                                        agréé par le Ministère de l'Enseignement Supérieur.</p>
                                    <a routerLink="/contact" class="btn-first btn-submit-fill"> Passer un crédit </a>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide-item" >
                            <div class="banner-text">
                                <div class="banner-text">
                                    <h1 class="text-custom-white fw-700">Crédit Immobilier</h1>
                                    <p class="text-custom-white">Crédit Immobilier vous permet de  financer votre  projet immobilier à usage 
                                        d'habitation tel que des travaux de construction, d'extension d'un logement à usage 
                                        d'habitation ou  l'acquisition d'un logement neuf ou ancien (résidence principale ou 
                                        secondaire)</p>
                                    <a routerLink="/contact" class="btn-first btn-submit-fill"> Passer un crédit </a>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide-item" >
                            <div class="banner-text">
                                <div class="banner-text">
                                    <h1 class="text-custom-white fw-700">Crédit Libre</h1>
                                    <p class="text-custom-white">Crédit Libre vous permet de financer vos besoins sur plusieurs marchés et secteurs 
                                        (la distribution, le mobilier, le high tech, les études supérieurs privés, …) </p>
                                    <a routerLink="/CreditLibrePage" class="btn-first btn-submit-fill"> Passer un crédit </a>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- End Slider -->
<section class="section-padding our-articles">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-black fw-700">A LA UNE</h3>
                <div class="section-description">
                    <p class="text-light-white">Suivez toutes les actualités du marché et des entreprises ici.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no-padding">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="blogConfig" class="blog-slider">
                    <article ngxSlickItem class="post col-12" *ngFor="let actu of actualites">
                        <div class="post-wrapper">
                            
                            <div class="blog-meta padding-20">
                               
                                <div class="post-content">
                                    <h2  class="text-custom-black fw-600">{{actu[2]}}</h2>
                                    
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14 text-custom-black">
                                                {{actu[0]}}</span>
                                        
                                    </div> <a href="https://www.ilboursa.com/{{actu[1]}}" class="text-light-blue fs-14" target="_blank">Lire la suite...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>

<!-- End why choose us -->

<!-- Start Team Doctors -->
<section class="section-padding bg-gradient doctors-team-style-2">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-white fw-700">Notre équipe</h3>
                <div class="section-description">
                    <p class="text-custom-white">Notre équipe est composée de 5 ingénieurs informatique spécialisé dans
                        le domaine de la finance, banque et assurance.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no-padding">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="teamConfig" class="doctors-slider">
                    <div ngxSlickItem class="slide-item col-12" *ngFor="let item of teamblock">
                        <div class="team-block p-relative">
                            <div class="inner-box">
                                <div class="image animate-img">
                                    <img [src]="item.photo" alt="{{item.name}}" class="full-width">
                                    <div class="overlay-box">
                                        <div class="overlay-inner p-relative full-height">
                                            <ul class="team-social-box custom">
                                                <li class="{{item.iconclass}}" *ngFor="let item of item.socialmedia">
                                                    <a href="{{item.url}}" class="fab fa-{{item.icon}} fs-16"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content p-relative text-center">
                                    <h4><a routerLink="/team" class="text-custom-black fw-600 fs-20">{{item.name}}</a>
                                    </h4>
                                    <p class="designation text-light-white">{{item.designation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- End Team Doctors -->

<!-- End Faqs -->
<app-advertisement></app-advertisement>