<!-- Start User Details -->


<section class="section-padding-bottom user-info-details">
    <div class="container">
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="user-info-tabs">
                    <ng-wizard [config]="defaultconfig" (stepChanged)="stepChanged($event)" class="step-app">
                        <ng-wizard-step [description]="'Basic Info'">
                            <div class="step-tab-inner">
                                <div class="heading text-center">
                                    <h4 class="text-custom-black fw-600">Entrer le credit </h4>
                                   
                                </div>
                                <form  *ngIf="!isSuccessful"
                                name="form"
                                (ngSubmit)="f.form.valid && addCredit()"
                                #f="ngForm"
                                novalidate>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">montant credit</label>
                                                <input 
                                                    class="form-control form-control-custom"
                                                    placeholder="montant"
                                                    type="number"
                                                    name="montantCredit"
                                                    [(ngModel)]="creditImmob.montantCredit"
                                                    required
                                                    minlength="7"
                                                    #montantCredit="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">duree</label>
                                                <input 
                                                class="form-control form-control-custom"
                                                placeholder="duree"
                                                type="number"
                                                name="duree"
                                                [(ngModel)]="creditImmob.duree"
                                                required
                                                minlength="1"
                                                #duree="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">destination</label>
                                                <input type="text" 
                                                class="form-control datepickrnew form-control-custom"
                                                placeholder="destination"
                                                name="destination"
                                                [(ngModel)]="creditImmob.destination"
                                                required
                                                #destination="ngModel"
                                                placeholder="votre destination">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">apportPersonnel</label>
                                                <input 
                                                    class="form-control form-control-custom"
                                                    placeholder="apportPersonnel"
                                                    type="number"
                                                    name="apportPersonnel"
                                                    [(ngModel)]="creditImmob.apportPersonnel"
                                                    required
                                                    #montantCredit="ngModel">
                                                
                                                   
                                            </div>

                                        </div>
                                        
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">MontantMensuelPretPayer</label>
                                                <input 

                                                    class="form-control form-control-custom"
                                                    placeholder="MontantMensuelPretPayer"
                                                    type="number"
                                                    name="MontantMensuelPretPayer"
                                                    [(ngModel)]="creditImmob.montantmensuelpretpayer"
                                                    required
                                                    #MontantMensuelPretPayer="ngModel">
                                            </div>

                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">chargeMensuel</label>
                                                <input 
                                                    class="form-control form-control-custom"
                                                    placeholder="chargeMensuel"
                                                    type="number"
                                                    name="chargeMensuel"
                                                    [(ngModel)]="creditImmob.chargeMensuel"
                                                    required
                                                    #chargeMensuel="ngModel">
                                            </div>

                                        </div>
                                        
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">MontantReventResidencePrincipal</label>
                                                <input 
                                                    class="form-control form-control-custom"
                                                    placeholder="MontantReventResidencePrincipal"
                                                    type="number"
                                                    name="MontantReventResidencePrincipal"
                                                    [(ngModel)]="creditImmob.MontantReventResidencePrincipal"
                                                    required
                                                    #MontantReventResidencePrincipal="ngModel">
                                            </div>

                                       =
                                        <div class="form-group">
                                            <label class="text-custom-black fs-14 fw-600">Localisation</label>
                                            <input type="text" 
                                            class="form-control datepickrnew form-control-custom"
                                            placeholder="localisation"
                                            name="localisation"
                                            [(ngModel)]="creditImmob.localisation"
                                            required
                                            #pLocalisation="ngModel"
                                            placeholder="votre destination">
                                        </div>
                                        <div class="form-group">
                                            <label class="text-custom-black fs-14 fw-600">Produit</label>
                                            <input type="text" 
                                            class="form-control datepickrnew form-control-custom"
                                            placeholder="Produit"
                                            name="Produit"
                                            [(ngModel)]="creditImmob.produit"
                                            required
                                            #Produit="ngModel"
                                            placeholder="votre produit">
                                        </div>





                                       <!--
                                        <div class="col-12">
                                            <div class="radio-box form-group">
                                                <div class="custom-radio">
                                                    <input id="phone1" name="phonetype" type="radio" checked>
                                                    <label for="phone1">Business</label>
                                                </div>
                                                <div class="custom-radio">
                                                    <input id="phone2" name="phonetype" type="radio">
                                                    <label for="phone2">Mobile</label>
                                                </div>
                                                <div class="custom-radio">
                                                    <input id="phone3" name="phonetype" type="radio">
                                                    <label for="phone3">Home</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">Primary Loan
                                                    Purpose</label>
                                                <select class="custom-select form-control form-control-custom">
                                                    <option>Purchase business location</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="text-custom-black fs-14 fw-600">Reference</label>
                                                <select class="custom-select form-control form-control-custom">
                                                    <option>Banner/Digital Ad</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="custom-checkbox text-custom-black">
                                                    <input type="checkbox" name="#">
                                                    <span class="checkmark"></span>
                                                    I Agree to the <a href="#">terms & conditions</a> and <a
                                                        href="#">privacy policy.</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <button class="btn btn-primary btn-block fs-14 fw-600">valider votre credit</button>
                                        </div>
                                    
                                          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                            Signup failed!<br />{{ errorMessage }}
                                          </div>
                                    </div>
                                </form>
                                <div class="alert alert-success" *ngIf="isSuccessful">
                                    Votre demande a été ajouter avec succés!
                                  </div>
                            </div>
                        </ng-wizard-step>
                        
                        
                    </ng-wizard>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start User Details -->
<app-footer></app-footer>
