<app-header></app-header>
<div class="overlapsec"></div>
<app-breadcrumb></app-breadcrumb>
<!-- Start Service -->
<section class="section-padding bg-gray service-page">
    <div class="container">
        <div class="row">
            <aside class="col-lg-4 mb-md-80">
                <div class="sidebar_wrap">
                    <div class="sidebar">
                        
                        <div class="sidebar_widgets mb-xl-30">
                            <div class="widget_title bg-light-blue">
                                <h5 class="no-margin text-custom-white fw-600">Informations Compte</h5>
                            </div>
                            <table class="table text-custom-black">
                                <tbody>
                                    <tr>
                                        <td>Nom</td>
                                        <td>-</td>
                                        <td class="text-right">{{Utilisateur.nom}}</td>
                                    </tr>
                                   
                                    <tr>
                                        <td>RIB</td>
                                        <td>-</td>
                                        <td class="text-right"
                                        style="color: #27346a; font-weight: bold">{{CompteCourant.rib}}</td>
                                    </tr>
                                    <tr>
                                        <td>IBAN</td>
                                        <td>-</td>
                                        <td class="text-right">{{CompteCourant.iban}}</td>
                                    </tr>
                                    <tr class="last-tr">
                                        <td>Solde</td>
                                        <td>-</td>
                                        <td class="text-right"
                                        style="color: #f01818; font-weight: bold">{{CompteCourant.solde}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <section >
                            <div class="sidebar_widgets mb-xl-30">
                                <div class="widget_title bg-light-blue">
                                    <h4 class="no-margin text-custom-white fw-600">Transférer Argent</h4>
                                </div>
                                            <form class="form-layout-1"
                                            #trans = "ngForm">
                                           >
                                                <div class="row">                                                
                                                    <div class="col-12 mb-xl-20">
                                                        <div class="form-group">
                                                            <label class="text-left">Transférer De</label>
                                                            <input type="text" name="#" class="form-control" 
                                                            placeholder="Transférer De"
                                                            #ribRecipient="ngModel"  [(ngModel)] = "transaction.emetteur"
                                                            required
                                                            #emetteur="ngModel"
                                                            >
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-left">Transférer A</label>
                                                            <input type="text" name="#" class="form-control" 
                                                            placeholder="Transférer A"
                                                            #ribRecipient="ngModel"  [(ngModel)] = "transaction.destinataire"
                                                            required
                                                            #destinataire="ngModel">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-left">Montant</label>
                                                            <input type="text" name="#" class="form-control" 
                                                            placeholder="Montant"
                                                            #amount="ngModel"  [(ngModel)] = "transaction.montant"
                                                            required 
                                                            #montant="ngModel">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-left">Description</label>
                                                            <input rows="5" name="#" class="form-control"
                                                                placeholder="...."
                                                                #amount="ngModel"  [(ngModel)] = "transaction.motif">   
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button  type ="submit" (click)=" addtransactions(content) "
                                                            class="btn-first btn-submit text-light-blue full-width"
                                                            >Valider</button>

                                                            <ng-template #content let-modal>
                                                                <div class="modal-header">
                                                                  <h4 class="modal-title" id="modal-basic-title">Vérification de la transaction</h4>
                                                                 
                                                                 
                                                                </div>
                                                              
                                                                <div class="modal-body">
                                                                  <form>
                                                                    <div class="mb-3">
                                                                      <label >Entrer votre code</label>
                                                                      <div class="input-group">
                                                                        <input  class="form-control" placeholder="code" name="code" type="number"[(ngModel)] = "code" >
                                                                        
                                                                      </div>
                                                                    </div>
                                                                  </form>
                                                                </div>
                                                               
                                                                <div class="modal-content">
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss()">Annuler</button>
                                                                  <button type="button" class="btn btn-outline-dark" (click)="apptransactions()">Confirmer</button>
                                                                </div>
                                                              </div>
                                                              </ng-template>
                                                    </div>  
                                                </div>
                                            </form>
                                   </div>
                        </section>                        
                        <div class="sidebar_widgets mb-xl-30">
                            <div class="widget_title bg-light-blue">
                                <h5 class="no-margin text-custom-white fw-600">Actions Compte</h5>
                            </div>
                            <ul class="custom sidebar-services">
                                <li > 
                                  
                                    <button  class="text-custom-black fs-14" 
                                        (click) = "PDF()">   Télécharger mon relevé bancaire
                                        <span><i class="fas fa-chevron-right"></i></span>
                                    </button>
                                   
                                    <a routerLink="/trans" class="text-custom-black fs-14">
                                        Transaction internationale
                                    <span><i class="fas fa-chevron-right"></i></span></a>
                                  
                                  
                                </li>
                            </ul>
                        </div>
                         <!-- Start Contact -->

<!-- End Contact -->
                    </div>
                </div>
            </aside>
            <div class="col-lg-8">
                <div class="col-12">
                    <div class="service-detail-sec bg-custom-white bx-wrapper">
                        <div class="service-image mb-xl-30">
                            <img src="assets/images/online.jpg" class="image-fit" alt="img">
                            <div class="overlay overlay-bg-black"></div>
                            <div class="service-text-wrapper transform-center">
                                <h3 class="text-custom-white">Compte Courant Jmlessous</h3>                                
                            </div>
                        </div>
                    </div>
           <!-- hhhhhh -->     
           <!--
                    <div class="row">
                        <div class="col-md-4 col-sm-6" *ngFor = "let transactions of listTransaction">
                            <div class="main-services-box p-relative mb-xl-30">
                                <div class="main-service-wrapper padding-20">
                                    <div class="bi bi-cash"> 
                                    </div>
                                    <h6 class="fw-700"><a routerLink=""
                                            class="text-custom-black"> {{transactions.motif}}</a></h6>
                             
                                    <p class="text-light-white no-margin">  {{transactions.dateTransaction| date: 'dd/MM/yyyy'}}</p>
     
                                    <p class="text-light-white no-margin"
                                    style="color: #f01818; font-weight: bold"> {{transactions.montant }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                  

                -->

                    <div  class="row">
                        <div class="col-12">
                          <div class="card mb-4">
                            <div class="card-header pb-0">
                              <h6>Mes Transactions</h6>
                            </div>
                            <div>
                              <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                  <thead>
                                    <tr>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-10" >Date</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-10">Destinataire</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-10">Description</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-10">Montant</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let transactions of listTransaction">
                                       
                                          <td class="align-middle text-center text-sm" ><span class="text-primary text-xs font-weight-bold">   {{ transactions.dateTransaction  | date: 'dd/MM/yyyy'}}</span></td>
                                          <td class="align-middle text-center text-sm"
                                          style="color: #27346a; font-weight: bold"><span> {{ transactions.destinataire }}</span></td>
                                          <td class="align-middle text-center text-sm"><span class="text-primary text-xs font-weight-bold">   {{ transactions.motif }}</span></td>
                                          <td class="align-middle text-center text-sm"
                                          style="text-align:center;color: #f01818; font-weight: bold"><span>  {{ transactions.montant }}</span></td>
                                      </tr>
                                  </tbody>
                              </table>
                            </div>
                          </div>
                      
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   
  
</section>


<app-footer></app-footer>
