<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<section class="section-padding-bottom user-info-details">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="user-info-tabs">
          <ng-wizard [config]="defaultconfig" (stepChanged)="stepChanged($event)" class="step-app">
            <ng-wizard-step [description]="'Simulateur'">
              <div class="step-tab-inner">
                <div class="heading text-center">
                  <h4 class="text-custom-black fw-600">Simulation de prime</h4>
                  <p class="text-custom-black">Calculez votre prime à payer à partir de vos informations.<sup>*</sup></p>
                </div>
                <!--                <form #offre="ngForm">-->
                <form [formGroup]="firstF">
                  <div class="row">
                    <div class="col-12">
                      <label class="text-custom-black fs-14 fw-600">Sexe</label>
                      <div class="radio-box form-group">
                        <div class="custom-radio col-lg-6">
                          <input id="homme" name="sexe" type="radio" checked [(ngModel)]="params.sexe" value="homme" formControlName="sexe">
                          <label for="homme">Homme</label>
                        </div>
                        <div class="custom-radio col-lg-6">
                          <input id="femme" name="sexe" type="radio" [(ngModel)]="params.sexe" value="femme" formControlName="sexe">
                          <label for="femme">Femme</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="text-custom-black fs-14 fw-600">Valeur vénale de la voiture : {{params.valeurVoit.toFixed(3)}} DT</label>
                        <input type="range" name="nbreSin" class="form-control-range" formControlName="valeurVoit" max="300000" min="6000" step="500"
                               placeholder="Valeur vénale en DT" [(ngModel)]="params.valeurVoit" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="text-custom-black fs-14 fw-600">Nombre d'années de circulation : {{params.nbreCirc}} ans.</label>
                        <input type="range" name="coutSin" class="form-control-range" formControlName="nbreCirc" min="0" max="30" step="0.25"
                               placeholder="Nombre d'années" [(ngModel)]="params.nbreCirc" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="text-custom-black fs-10 fw-600">Puissance fiscale</label>
                        <select class="custom-select form-control form-control-custom" formControlName="puissance" [(ngModel)]="params.puissance" required>
                          <option value="cv2">2 chevaux fiscaux</option>
                          <option value="cv3">3 chevaux fiscaux</option>
                          <option value="cv4">4 chevaux fiscaux</option>
                          <option value="cv5">5 chevaux fiscaux</option>
                          <option value="cv6">6 chevaux fiscaux</option>
                          <option value="cv7">7 chevaux fiscaux</option>
                          <option value="cv8">8 chevaux fiscaux</option>
                          <option value="cv9">9 chevaux fiscaux</option>
                          <option value="cv10">10 chevaux fiscaux</option>
                          <option value="cv11">11 chevaux fiscaux</option>
                          <option value="cv12">12 chevaux fiscaux</option>
                          <option value="cv13">13 chevaux fiscaux</option>
                          <option value="cv14">14 chevaux fiscaux</option>
                          <option value="cv15p">15 chevaux fiscaux ou plus</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="text-custom-black fs-10 fw-600">Classe bonus-malus</label>
                        <select class="custom-select form-control form-control-custom" formControlName="classe" [(ngModel)]="params.classe" required>
                          <option>b1</option>
                          <option>b2</option>
                          <option>b3</option>
                          <option>b4</option>
                          <option>b5</option>
                          <option>b6</option>
                          <option>b7</option>
                          <option>b8</option>
                          <option>b9</option>
                          <option>b10</option>
                          <option>b11</option>
                          <option>b12</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </ng-wizard-step>
            <ng-wizard-step [description]="'Prime'">
              <div class="step-tab-inner">
                <div class="heading text-center">
                  <h4 class="text-custom-black fw-600">Votre prime à payer est de : {{prime.toFixed(3)}} DT</h4>
                  <p class="text-custom-black">Cette prime est approximative et à titre indicatif, elle suppose le changement au moment de signature du contrat avec l'agence.<sup>*</sup></p>
                </div>
              </div>
            </ng-wizard-step>
            <ng-wizard-step [description]="'Souscription'">
              <div class="step-tab-inner">
                <div class="heading text-center">
                  <h4 class="text-custom-black fw-600">Enregistrement du contrat</h4>
                  <p class="text-custom-black">Confirmez votre achat du contrat en remplissant les données demandées dans ce formulaire.<sup>*</sup></p>
                </div>
              </div>
              <form [formGroup]="seconF">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="text-custom-black fs-14 fw-600">Date début de contrat</label>
                      <input type="date"
                             class="form-control datepickrnew form-control-custom"
                             formControlName="dateDebut" [(ngModel)]="contrat.dateDebut" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="text-custom-black fs-14 fw-600">Date fin de contrat</label>
                      <input type="date"
                             class="form-control datepickrnew form-control-custom"
                             formControlName="dateFin" [(ngModel)]="contrat.dateFin" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="text-custom-black fs-14 fw-600">Nom et prénom du propriétaire du contrat</label>
                      <input type="text"
                             class="form-control form-control-custom"
                             formControlName="nomPrenomAssure" [(ngModel)]="contrat.nomPrenomAssure" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="text-custom-black fs-14 fw-600">Num de la CIN du propriétaire du contrat</label>
                      <input type="number"
                             class="form-control form-control-custom"
                             formControlName="cinAssure" [(ngModel)]="contrat.cinAssure" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="text-custom-black fs-14 fw-600">Téléphone du propriétaire du contrat</label>
                      <input type="number"
                             class="form-control form-control-custom"
                             formControlName="telAssure" [(ngModel)]="contrat.telAssure" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="text-custom-black fs-14 fw-600">Email du propriétaire du contrat</label>
                      <input type="email"
                             class="form-control form-control-custom"
                             formControlName="emailAssure" [(ngModel)]="contrat.emailAssure" required>
                    </div>
                  </div>
                  <div class="col-lg-12" *ngIf="(link != '&embedded=true')">
                    <div class="form-group">
                      <label class="text-custom-black fs-14 fw-600">Veuillez remplir ce formulaire demandé par l'agence d'assurance</label>
                      <iframe [src]="urlSafe" width="550" height="600"></iframe>
                    </div>
                  </div>
                </div>
              </form>
            </ng-wizard-step>
          </ng-wizard>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
