<app-header></app-header>
<div class="overlapsec"></div>
<breadcrumb #parent>
    <div class="sub-header p-relative">
      <div class="overlay overlay-bg-black"></div>
      <div class="pattern"></div>
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
                <div class="sub-header-content p-relative">
                  <h1 class="text-custom-white lh-default fw-600"> credit Libre simulateur</h1>
                  <ul class="custom">
                    <li><a class="text-custom-white">Home</a></li>
                    <li >
  
                        <a>credit Libre simulateur</a>
                    </li>
  
                  </ul>
                </div>
  </div></div></div></div></div></breadcrumb>
<!-- Start affich simulate -->

<section class="book-appointment parallax section-padding "  id="book-appointment">
  
    <div class="overlay overlay-bg-black"></div>
    <div class="pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="appointment-sec">
                    <div class="row no-gutters">
                        <div class="col-lg-6 ">
                            <div class="padding-40 full-height bg-white">
                                <div class="align-self-center">
                                    <div class="section-header">
                                        <div class="section-heading">
                                            <h3 class="text-custom-blue fw-600 ">votre simulation</h3>
                                           
                                        </div>
                                    </div>
                                    
                                    <div class="LOANLY-address">
                                        <div class="fw-600 text-center exp-cal2-content">
                                            
                                            <form class="form-layout-1">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="text-left">montant restant</label>
                                                            <input type="number" name="#" class="form-control"  value="{{listCredit.montantR}}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="text-left">interet</label>
                                                            <input type="number" name="#" class="form-control"  value="{{listCredit.interest}}"  readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 mb-xl-20">
                                                        <div class="form-group">
                                                            <label class="text-left">amortissement</label>
                                                            <input type="number" name="#" class="form-control"  value="{{listCredit.amortissement}}" readonly>
                                                        </div>
                                                      
                                                    </div>
                                                    <div class="col-12 mb-xl-20">
                                                        <div class="form-group">
                                                            <label class="text-left">mensualité</label>
                                                            <input type="number" name="#" class="form-control" value="{{listCredit.mensualite}}" readonly>
                                                        </div>
                                                      
                                                    </div>
                                                  
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-side full-height bg-border">
                             
                                    <div class="section-heading">
                                        <h3 class="text-white fw-600">simuler votre credit Libre</h3>
                                    </div>
                                    <form name="form" (ngSubmit)="simulater()" #f="ngForm" novalidate>
                   
                                        <div class="row">
                                           <div class="col-md-12">
                                              <p class="fw-600 text-center exp-cal2-content">montant credit</p>
                                              <div >
                                                  <input placeholder="00" type="number" 
                                                  class="form-control form-control-custom"
                                                  type="number"
                                                  name="montant"
                                                  [(ngModel)]="montant"
                                                  required
                                                  >
                                            
                                              </div>
                                              <p class="fw-600 mt-2 fs-13">entrer le montant du credit</p>
                                          </div>
                                          <div class="col-md-12">
                                              <p class="fw-600 text-center exp-cal2-content">duree</p>
                                              <div>
                                                  <input type="number" class="form-control form-control-custom" placeholder="00"
                                                  type="number"
                                                  name="duree"
                                                  [(ngModel)]="duree"
                                                  required
                                                  > 
                                                  <p class="fw-600 mt-2 fs-13">entrer la duree du credit</p>
                                              </div>
                                          </div>
                                          <div class="col-md-12">
                                              <p class="fw-600 text-center exp-cal2-content">tauxInteret</p>
                                              <div >
                                                  <input type="number" class="form-control form-control-custom"  placeholder="00" type="number"
                                                  name="taux"
                                                  [(ngModel)]="taux"
                                                  required > 
                                                  <p class="fw-600 mt-2 fs-13">entrer le taux souhaité</p>
                                              </div>
                                          </div>
                                          <br>
                                          <br>
                                          <div class="col-md-12 align-self-center">
                                              <div class="form-group exp-cal-icon">
                                                  
                                                  <button type="submit" class="btn-first btn-submit-fill"><i class="fas fa-phone mr-2 fs-16"></i><span class="fs-16">simuler</span>
                                                  </button>
                                              </div>
                                          </div>
                                         
                                        
                                        </div>
                                    
                                    </form>
                                 
                                </div>
                            </div>
                            
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
<app-tab-amortissement-libre></app-tab-amortissement-libre>

<!-- End lw-tab -->
<app-footer></app-footer>