<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<div class="section-padding lw-tab-section p-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lw-mega-tab">
          <ul ngbNav #navplans="ngbNav" class="nav lw-nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                Automobile
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                      <th>ID</th>
                      <th>Agence</th>
                      <th>Prime Pure</th>
                      <th>Statut</th>
                      <th>Commission</th>
                      <th>Gain total</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let offreAut of autoOffrees">
                      <td class="lw-table-data-1">{{offreAut.idOffreAssurance}}</td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.assurance}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.primePure}} DT</strong>
                          </li>
                          <li> <span>
                                                            Avec une marge de {{offreAut.interFlex}}
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.statut}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.commission}} %</strong>
                          </li>
                          <li> <span>
                                                            Pourcentage sur prime.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.gainTotal}} DT</strong>
                          </li>
                          <li> <span>
                                                            {{offreAut.nbreContrats}} contrats signés.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='VALIDATION'"> <a routerLink="/offre-validation/{{offreAut.idOffreAssurance}}"
                                                                 class="btn-first btn-submit-fill">Valider</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='PUBLISHED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                       class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='SUSPENDED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>
                Habitation
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                      <th>ID</th>
                      <th>Agence</th>
                      <th>Prime Pure</th>
                      <th>Statut</th>
                      <th>Commission</th>
                      <th>Gain total</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let offreAut of habitOffers">
                      <td class="lw-table-data-1">{{offreAut.idOffreAssurance}}</td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.assurance}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.primePure}} DT</strong>
                          </li>
                          <li> <span>
                                                            Avec une marge de {{offreAut.interFlex}}
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.statut}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.commission}} %</strong>
                          </li>
                          <li> <span>
                                                            Pourcentage sur prime.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.gainTotal}} DT</strong>
                          </li>
                          <li> <span>
                                                            {{offreAut.nbreContrats}} contrats signés.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='VALIDATION'"> <a routerLink="/offre-validation/{{offreAut.idOffreAssurance}}"
                                                                                                       class="btn-first btn-submit-fill">Valider</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='PUBLISHED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='SUSPENDED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>
                Resp-Civile
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                      <th>ID</th>
                      <th>Agence</th>
                      <th>Prime Pure</th>
                      <th>Statut</th>
                      <th>Commission</th>
                      <th>Gain total</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let offreAut of respCivOffers">
                      <td class="lw-table-data-1">{{offreAut.idOffreAssurance}}</td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.assurance}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.primePure}} DT</strong>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.statut}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.commission}} %</strong>
                          </li>
                          <li> <span>
                                                            Pourcentage sur prime.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.gainTotal}} DT</strong>
                          </li>
                          <li> <span>
                                                            {{offreAut.nbreContrats}} contrats signés.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='VALIDATION'"> <a routerLink="/offre-validation/{{offreAut.idOffreAssurance}}"
                                                                                                       class="btn-first btn-submit-fill">Valider</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='PUBLISHED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='SUSPENDED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink>
                Emprunteur
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                      <th>ID</th>
                      <th>Agence</th>
                      <th>Prime Pure</th>
                      <th>Statut</th>
                      <th>Commission</th>
                      <th>Gain total</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let offreAut of empOffers">
                      <td class="lw-table-data-1">{{offreAut.idOffreAssurance}}</td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.assurance}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.primePure}} DT</strong>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.statut}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.commission}} %</strong>
                          </li>
                          <li> <span>
                                                            Pourcentage sur prime.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.gainTotal}} DT</strong>
                          </li>
                          <li> <span>
                                                            {{offreAut.nbreContrats}} contrats signés.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='VALIDATION'"> <a routerLink="/offre-validation/{{offreAut.idOffreAssurance}}"
                                                                                                       class="btn-first btn-submit-fill">Valider</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='PUBLISHED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='SUSPENDED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="5">
              <a ngbNavLink>
                Rente viagère
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                      <th>ID</th>
                      <th>Agence</th>
                      <th>Prime Pure</th>
                      <th>Statut</th>
                      <th>Commission</th>
                      <th>Gain total</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let offreAut of renteOffers">
                      <td class="lw-table-data-1">{{offreAut.idOffreAssurance}}</td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.assurance}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.primePure}} DT</strong>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.statut}}</strong>
                          </li>
                          <li> <span>

                                                        </span>
                          </li>
                        </ul>

                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.commission}} %</strong>
                          </li>
                          <li> <span>
                                                            Pourcentage sur prime.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3">
                        <ul>
                          <li> <strong>{{offreAut.gainTotal}} DT</strong>
                          </li>
                          <li> <span>
                                                            {{offreAut.nbreContrats}} contrats signés.
                                                        </span>
                          </li>
                        </ul>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='VALIDATION'"> <a routerLink="/offre-validation/{{offreAut.idOffreAssurance}}"
                                                                                                       class="btn-first btn-submit-fill">Valider</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='PUBLISHED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                      <td class="lw-table-data-3 choose-btn" *ngIf="offreAut.statut=='SUSPENDED'"> <a routerLink="/offre-contrats-ag/{{offreAut.idOffreAssurance}}"
                                                                                                      class="btn-first btn-submit-fill">Contrats</a>
                        <a *ngIf="offreAut.lienForm!=null" href="{{offreAut.lienForm}}" class="Loan-content" target="_blank">Lien du formulaire joint</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="navplans" class="lw-tab-content-wrapper"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
