<app-header></app-header>
<div class="overlapsec"></div>
<breadcrumb #parent>
    <div class="sub-header p-relative">
      <div class="overlay overlay-bg-black"></div>
      <div class="pattern"></div>
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
                <div class="sub-header-content p-relative">
                  <h1 class="text-custom-white lh-default fw-600">Client</h1>
                  <ul class="custom">
                    <li><a class="text-custom-white">Home</a></li>
                    <li >
  
                        <a>Client</a>
                    </li>
  
                  </ul>
                </div>
  </div></div></div></div></div></breadcrumb>

  <section class="section-padding bg-gray our-articles">
    <div class="container">
        <div class="row">
            <aside class="col-lg-4 mb-md-80">
                <app-bar-side-profile></app-bar-side-profile>
            </aside>
            <div class="col-lg-8"> 
                <div class="row">
          
                    
            </div>
            </div>
        </div>
    </div>
    </section>
  
<app-footer></app-footer>