<app-header></app-header>
<div class="overlapsec"></div>
<breadcrumb #parent>
    <div class="sub-header p-relative">
      <div class="overlay overlay-bg-black"></div>
      <div class="pattern"></div>
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
                <div class="sub-header-content p-relative">
                  <h1 class="text-custom-white lh-default fw-600">Credit Immobilier</h1>
                  <ul class="custom">
                    <li><a class="text-custom-white">Home</a></li>
                    <li >
  
                        <a>Credits Immobiliers</a>
                    </li>
  
                  </ul>
                </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </breadcrumb>
  <div class="section-padding lw-tab-section p-relative">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lw-mega-tab">
            <ul ngbNav #navplans="ngbNav" class="nav lw-nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>
                  
                </a>
                <div class="table-responsive">
                    <table  class="lw-tab-table" >
                        <thead>
                            <tr class="lw-table-row-1">
                                <th> montantCredit</th>
                                <th> duree</th>
                                <th> dateDemande</th>
                                <th> dateFin</th>
                                <th> mensualite</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let credit of listC" >
                                <td class="lw-table-data-2"> {{ credit.montantCredit }} </td>
                                <td class="lw-table-data-2"> {{ credit.duree }} </td>
                                <td class="lw-table-data-2"> {{ credit.dateDemande }} </td>
                                <td class="lw-table-data-2"> {{ credit.dateFin }} </td>
                                <td class="lw-table-data-2"> {{ credit.mensualite }} </td>
                                <td class="lw-table-data-2"> {{ credit.status }} </td>
                                
                               <!--
                                <td>
                                    <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
                                    <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                                    <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
                                </td>
                            
                            <td> <button (click) = "delete(c.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button></td>
                            -->
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
              </li>
              
            </ul>
           
          </div>
        </div>
        
      </div>
     
    </div>
    
  </div>
 
  

<app-footer></app-footer>
