<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<!-- Start Blog -->
<section class="section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-detail padding-20">
                    <!-- article -->
                    <article class="post">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img mb-xl-20" [ngSwitch]="credit.produit"> 
                                <img *ngSwitchCase="'terrain'" src="assets/images/credit/creditterrain.jpg" class="image-fit" alt="{{credit.produit}}">
                                <img *ngSwitchCase="'Maison'" src="assets/images/credit/CreditMaison.jpg" class="image-fit" alt="{{credit.produit}}">
                                <img *ngSwitchCase="'appartement'" src="assets/images/credit/CreditAppar.jpg" class="image-fit" alt="{{credit.produit}}">
                                
                            </div>
                            <div class="blog-meta">
                                <h2 [ngSwitch]="credit.status">
                                    <a href="#" *ngSwitchCase="'REFUS'"  class="text-custom-black fw-600">Malheuresement votre crédit a été Refusé</a>
                                    <a href="#" *ngSwitchCase="'ENCOURSDETRAITEMENT'" class="text-custom-black fw-600">Votre credit est en cours de traitement</a>
                                    <a href="#" *ngSwitchCase="'ACCEPTE'" class="text-custom-black fw-600">Votre credit est Accepté </a>
                                    
                                </h2>
                                
                                <div class="card-body">
                                    <h5 class="card-title">Taux d'interet : {{credit.tauxNominal}}</h5>
                                    <p class="card-title">Activite : {{credit.mensualite}}</p>
                            
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- article -->
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
<app-footer></app-footer>
