<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<!-- Détails action -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Save click')">Fermer</button>
  </div>
</ng-template>
<!-- End Détails action -->

<table class="table table-sm table-dark table-responsive-md">
  <thead>
  <tr class="lw-table-row-1">
    <th scope="col">Valeur</th>
    <th scope="col">Statut</th>
    <th scope="col">Ord Achat</th>
    <th scope="col">Qté Achat</th>
    <th scope="col">Achat</th>
    <th scope="col">Vente</th>
    <th scope="col">Qté Vente</th>
    <th scope="col">Ord Vente</th>
    <th scope="col">Réf</th>
    <th scope="col">Dernier</th>
    <th scope="col">Var %</th>
    <th scope="col">Qté</th>
    <th scope="col">Capit</th>
    <th scope="col">P.Haut</th>
    <th scope="col">P.Bas</th>
    <th scope="col">S.Haut</th>
    <th scope="col">S.Bas</th>
    <th scope="col">Heure</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let market of markets">
    <th scope="row"> <button (click)="getDetails(market.isin); open(content)" style="color: white">{{market.referentiel.stockName}}</button></th>
    <td>{{market.status}}</td>
    <td>{{market.limit.askOrd}}</td>
    <td>{{market.limit.askQty}}</td>
    <td>{{market.limit.ask}}</td>
    <td>{{market.limit.bid}}</td>
    <td>{{market.limit.bidQty}}</td>
    <td>{{market.limit.bidOrd}}</td>
    <td>{{market.close}}</td>
    <td>{{market.last}}</td>
    <td *ngIf="market.change<0" style="color: #e60000">{{market.change}} %</td>
    <td *ngIf="market.change>0" style="color: #009900">{{market.change}} %</td>
    <td *ngIf="market.change==0" style="color: #1c82ca">{{market.change}} %</td>
    <td>{{market.volume}}</td>
    <td>{{market.caps}}</td>
    <td>{{market.high}}</td>
    <td>{{market.low}}</td>
    <td>{{market.max}}</td>
    <td>{{market.min}}</td>
    <td>{{market.time}}</td>
  </tr>
  </tbody>
</table>

<app-footer></app-footer>

