<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<div style="display: flex">

    <div class="simulator" style="border: outset grey;width: 40%; border-radius: 10%; ">
      <h2 class="h2-simulator">
  
        <span class="title-wrapper" style="margin-left: 15px;"> simulateur credit</span>
      </h2>
      <div style="display: flex">
        <div >
            <label for="mens" style="display:flex;flex-direction:column;text-align: center;font-family: bold">montant credit</label>
    
            <input class="form-control form-control-custom" id="mens" type="number" style="display:flex;flex-direction:column;width: 100px" [(ngModel)]="creditImmob.montantCredit" name="montantCredit">
        </div>
        <div >
            <label for="mens" style="display:flex;flex-direction:column;text-align: center;font-family: bold">Durée</label>
    
            <input  id="mens" type="number" style="display:flex;flex-direction:column;width: 100px" [(ngModel)]="creditImmob.duree" name="duree">
        </div>
        <div>
        <label style="margin-left: 15px;text-align: center;font-family: bold">Destination du credit</label>
        <br>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="creditImmob.destination"  name="destination" style="margin-left: 15px">
          <option selected value="residence principal">residence principal</option>
          <option value="residence secondaire">residence secondaire</option>
          <option value="location">location</option>
        </select>
        </div>
  
      </div>
      <br>
      <div style="display: flex;margin-left: 15px">
        <div >
          <label for="mens" style="display:flex;flex-direction:column;text-align: center;font-family: bold">apport Personnel</label>
  
          <input  id="mens" type="number" style="display:flex;flex-direction:column;width: 100px" [(ngModel)]="creditImmob.apportPersonnel" name="apportPersonnel">
        </div>
  
  
        <div style="margin-left: 50px">
          <label for="init" style="display:flex;flex-direction:column;text-align: center;font-family: bold">montant mensuel pret a payer</label>
  
          <input type="number" id="init" style="display:flex;flex-direction:column;width: 100px" [(ngModel)]="creditImmob.montantmensuelpretpayer" name="montantmensuelpretpayer">
        </div>
  
        <div style="margin-left: 50px" >
          <label style="display:flex;flex-direction:column;text-align: center;font-family: bold">produit </label>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="creditImmob.produit" name="produit" style="margin-left: 15px">
            <option selected value="terrain">terrain</option>
            <option value="maison">maison</option>
            <option value="appartement">appartement</option>
  
          </select>
        </div>
        <div style="margin-left: 50px" >
            <label style="display:flex;flex-direction:column;text-align: center;font-family: bold">produit </label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="creditImmob.localisation" name="produit" style="margin-left: 15px">
              <option selected value="Tunis">Tunis</option>
              <option value="BanlieueNord">BanlieueNord</option>
              <option value="BanlieueSud">BanlieueSud</option>
              <option value="LesCôtes">LesCôtes</option>
    
            </select>
          </div>

        <div >
            <label for="init" style="display:flex;flex-direction:column;text-align: center;font-family: bold">MontantReventResidencePrincipal</label>
    
            <input type="number" id="init" style="display:flex;flex-direction:column;width: 50px" [(ngModel)]="creditImmob.MontantReventResidencePrincipal" name="MontantReventResidencePrincipal">
          </div>
      </div>
      
  
      <div style="text-align: center">
        <button class="btn btn-success" (click)="simulater()">Simulate</button>
        <button  class="btn btn-success" (click)="tabAmortissement()">generer votre tableau d'amortissement</button>
      </div>
  
    </div>
  
  
    <div class="result" style="border: outset grey;width: 40%; border-radius: 20%;;float: right;margin-left: 200px ">
      <h2 class="h2-result">
  
        <span class="title-wrapper" style="margin-left: 10px;">
  Répartition des économies totales </span>
      </h2>
  
      <div style="display: inline">
      <div  style="float: left;width: 200px;margin-top:40px">
  
        <div id="chartContainer" style="height: 250px; width: 100%; margin:auto;"></div>
      </div>
  <div style="float: right">
    <table class="Table Table--numerical Table--borderedRows>">
      <tbody>
      <tr>
        <td colspan="3">
  
          <h6 class="heading-secondry text-size-md mb-0">
  
         Total saving breakdown
          </h6>
        </td>
      </tr>
  
      <tr>
        <td style="width: 20px !important">
          <div class="square-block fill-color-a"></div>
  
        </td>
        <td class="text-left"> Montant </td>
        <td class="text-right">
        <strong class="type-body-two text-size-md">
            {{listCredit.montantR}}
        </strong>
        </td>
      </tr>
      <tr>
        <td>
          <div class="square-block fill-color-b"></div>
        </td>
        <td class="text-left"> interest</td>
        <td class="text-right">
          <strong class="type-body-two text-size-md">
            $ {{listCredit.interest}}
          </strong>
        </td>
      </tr>
  
      <tr>
        <td>
          <div class="square-block fill-color-c"></div>
        </td>
        <td class="text-left"> amortissement</td>
        <td class="text-right">
          <strong class="type-body-two text-size-md">
            $ {{listCredit.amortissement}}
          </strong>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-right" style="margin-right: 20px">
      <div class="mb-5" style="margin-right: 28px">
        <strong style="text-size:5em">mensualite</strong>
      </div>
      <div class="Numeral text-4xl sm:text-7xl">
        <span class="Numeral-accent">$</span>
        {{listCredit.mensualite}}
  
  
      </div>
    </div>
  </div>
  
  
  
  
    </div>
  
  
    
  
  </div>
  
</div>
  <app-footer></app-footer>
  
  
  
  
  
  
  
  
    
 
  
  
  
  
  
  
  