<!-- Start Footer -->
<footer class="bg-black section-padding footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-box mb-md-80">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Liens Utile</h4>
                    </div>
                    <ul class="custom links">
                        <li> <a routerLink="/about" class="text-custom-white">JMLessous</a>
                        </li>
                        <li> <a routerLink="/service" class="text-custom-white">Comptes</a>
                        </li>
                        <li> <a routerLink="/blog" class="text-custom-white">Crédits</a>
                        </li>
                        <li> <a routerLink="/team" class="text-custom-white">Assurance</a>
                        </li>
                        <li> <a routerLink="/contact" class="text-custom-white">Marché Financier</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="footer-box mb-xs-80">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Actualités</h4>
                    </div>
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="twitterConfig" class="custom twitter-feed twitter-slider" >
                        <li ngxSlickItem *ngFor="let actu of actualites">
                            <p class="tweet"> <a routerLink="https://www.ilboursa.com/{{actu[1]}}">{{actu[2]}}</a>
                            </p>
                            <p class="timePosted"><a routerLink="https://www.ilboursa.com/{{actu[1]}}">Posted on {{actu[0]}}</a>
                            </p>
                        </li>
                    </ngx-slick-carousel>
                </div>
                
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-box">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Abonnement</h4>
                    </div>
                    <div class="newsletter">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-custom" placeholder="Email Id">
                            </div>
                            <button class="btn-first btn-submit-fill btn-height full-width"
                                type="submit">S'abonner</button>
                        </form>
                    </div>
                    <div class="social-media">
                        <ul class="custom social-media">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="payment-logo mb-md-20">
                    <div class="payemt-icon">
                        <img src="assets/images/logo/jmlessous_icon.png" alt="#">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="text-custom-white no-margin">© JMLessous - 2022 | All Right Reserved. <a href="#"
                        class="text-custom-white">Designed By JMLessous</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
<div id="back-top" class="back-top d-block"> 
    <a href="javascript:void(0)" *ngIf="isShow" (click)="gotoTop()" (window:scroll)="ScrolltoTop()">
        <i class="flaticon-up-arrow"></i>
    </a>
</div>